@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/base';

:root {
    font-size: 62.5%;
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
        'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
        'Courier New', monospace;

    /* variables */
    --primary-color: #1d1d1f;
    --primary-bg: #f5f5f7;
    --secondary-color: #6e6e73;
    --invert-primary: #ffffff;
    --invert-secondary: #000000;
    --nav-bg: #f5f5f7;
    --nav-bg-invert: #454545;
    --menu-backdrop-bg: #e8e8ed66;
    --menu-bg: #f5f5f7;
    --menu-color: #333336;
    --menu-color-light: #6e6e73;
    --project-card-bg: #ffffff;
    --footer-text-color: #6e6e73;
    --blog-border-color: #e4e4e7;
}

.dark {
    --primary-color: #e2e2e0;
    --primary-bg: #0a0a08;
    --secondary-color: #a0a09a;
    --invert-primary: #000000;
    --invert-secondary: #ffffff;
    --nav-bg: #454545;
    --nav-bg-invert: #f5f5f7;
    --menu-backdrop-bg: #2c2b2b66;
    --menu-bg: #161617;
    --menu-color: #e8e8ed;
    --menu-color-light: #86868b;
    --project-card-bg: #1d1d1f;
    --footer-text-color: #ffffffa4;
    --blog-border-color: #303030;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100vw;
    /* overflow-x: hidden; */
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

body {
    font-size: 1.6rem;
    color: var(--primary-color);
    background-color: var(--primary-bg);
    transition:
        background-color 300ms,
        color 300ms;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
