.custom-transform {
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.custom-transform:hover {
    transform: scale3d(1.01, 1.01, 1.01);
}

@keyframes animate-background {
    0% {
        background-color: #0071e3;
        color: #ffffff;
    }

    100% {
        // background-color: #ffffff;
        // color: #1d1d1f;
    }
}

@keyframes animate-background-dark {
    0% {
        background-color: #0071e3;
        color: #ffffff;
    }

    100% {
        // background-color: #1d1d1f;
        // color: #ffffff;
    }
}

.dark .ribbon {
    background-color: #0071e3;
    color: #ffffff;
    animation: animate-background-dark 1s cubic-bezier(0.42, 0, 0.58, 1) 1.8s forwards;
}

.ribbon {
    background-color: #0071e3;
    color: #ffffff;
    animation: animate-background 1s cubic-bezier(0.42, 0, 0.58, 1) 1.8s forwards;
}

@keyframes ribbon-drop {
    0% {
        transform: translateY(-100%);
        /* height: 0rem; */
    }

    100% {
        transform: translateY(0);
        /* height: 4.7rem; */
    }
}

.ribbon-drop-wrapper {
    animation: ribbon-drop 0.8s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    /* height: 7rem; */
}

.project-svg-cont svg {
    width: 12px;
    height: 12px;
}

.custom-color {
    background-image: linear-gradient(
        to right,
        #f8ab5e 0,
        #f36961 20%,
        #a176c8 40%,
        #759beb 60%,
        #65beb3 80%,
        #70db96 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    /* background: #f5f5f7; */
}

.left-scroll-btn {
    transition:
        transform 0.5s ease-in,
        opacity 0.7s cubic-bezier(0.15, 0, 0.2, 1) 0.1s;
}

.left-scroll-btn button:hover {
    transition: 0.3s ease-in-out;
}

.trans {
    /* transform: translateY(-50%); */
}

.nav-menu-backdrop {
    backdrop-filter: blur(20px);
    /* visibility 0.32s step-start 80ms; */
}

.nav-menu-backdrop-open {
    transition:
        opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) 80ms,
        visibility 0.32s step-start 80ms;
    /* visibility 0.32s step-start 80ms; */
}

.nav-menu-backdrop-end {
    transition:
        opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) 80ms,
        visibility 0.32s step-end 80ms;
    /* visibility 0.32s step-start 80ms; */
}

.nav-menu {
    transition: all 240ms cubic-bezier(0.4, 0, 0.6, 1);
}

.li-text {
    transform: translateY(-4px);
    transition-property: opacity, transform;
    transition-duration: 0.24s;
    transition-delay: 0s;
}

.li-text-open {
    transform: translateY(0);
    transition-duration: 0.32s;
    transition-delay: 0.12s;
}

.link-text {
    transition: color 0.32s cubic-bezier(0.4, 0, 0.6, 1);
}

nav {
    /* backdrop-filter: saturate(180%) blur(100px); */
}

button {
    cursor: pointer;
}

.bgg-lg {
    /* background: linear-gradient(0deg, rgba(1, 113, 226, 1) 0%, rgba(0, 0, 0, 1) 11%); */
}

.bg-blur {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.7);
}

.dark .bg-blur {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(29, 29, 31, 0.7);
}

.blog {
    h1 {
        font-size: 4.8rem;
        font-weight: 700;
        color: #1d1d1f;
        text-align: center;
    }

    p {
        font-size: 1.7rem;
        color: #1d1d1f;
    }
}

.blog-share {
    button {
        border: none;
        background-color: transparent;
        padding-right: 16px;

        @media screen and (max-width: 639px) {
            padding: 0 8px;
        }

        svg {
            width: 18px;
            height: 18px;
            fill: #6e6e73;
        }
    }
}

.dark .blog-share {
    button {
        svg {
            fill: #a0a09a;
        }
    }
}

.border-bottom {
    border-bottom: 1px solid #d0d0d0;
}

// .blog-img:hover {
//     transform: scale(1.005);
// }

.hgl {
    background-color: #bde3e4;
    padding: 0 0.5rem;
}

.dark {
    .hgl {
        background-color: #f4e156;
        color: black;
    }
}

.tag {
    color: red;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 0 0.5rem;
    font-size: 15px;
}

.dark {
    .tag {
        color: rgb(0, 255, 174);
        background-color: #373739;
    }
}

.article-container {
    a {
        color: blue;
        text-decoration: underline;
    }
}

.dark .article-container {
    a {
        color: rgb(14, 184, 37);
    }
}

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 3s; /* Change to speed up or slow down */
    animation-iteration-count: 2; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}
